*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: sans-serif;
}

#mainContainer{
    width: 100%;
    background-color: rgb(82,86,89);
}
header{
    width: 90%;
    padding: 0 5.5rem;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(255,113,113);
    position: relative;

}
.menu_bar_icon{
    display: none;
}
.navlist{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}
.navlist li{
    font-size: 17px;
    font-weight: 800;
    color: black;
   
}


.SectionContainer{
    width: 90%;
    margin: auto;
   
    display: flex; 
    /* border: 1px solid black; */
}
.textContainer{
    width: 50%;
    padding: 0 2rem 0 5rem;
    background: linear-gradient(to right, rgb(255,237,183), rgb(255,187,231));
}
.textContainer h1{
    padding: 9rem 0 4rem 0;
    font-size: 3rem;
    letter-spacing: 5px;
    text-transform: uppercase;
   
    font-weight: 700;
}
.textContainer h1 + p{
    letter-spacing: 1px;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 25px;
    /* color: red; */
}
.textContainer h1 + p + p{
    margin-top:5rem;
    background-color: rgb(255,113,113);
    color: #fff;
    padding: 0.7rem;
    width: 33%;
    text-align: center;
    letter-spacing: 2px;
}
.imgContainer{
    width: 50%;
    height: 95vh;
    /* border: 3px solid blue; */
}
.imgContainer img{
    width: 100%;
    height: 100%;
    background-size: contain;
}
#secondSectionContainer{
    margin-top: 0.5rem;
    background: linear-gradient(to right, rgb(255,237,183), rgb(255,187,231));
    width: 90%;
    margin: auto;
    display: flex; 
    position: relative;
}
#secondSectionImgContainer{
    width: 50%;
   
    display: flex;
    flex-wrap: wrap; 
    padding: 10rem 5rem;
}
.imageBox{
    width: 50%;
}
.rowImgCont{
    width: 100%;
    height: 225px;
  
    /* padding: 10px; */
    /* background-image: url('./assets/image/pexels-rachel-claire-6752433.jpg'); */
}
.rowImgCont img{
    width: 100%;
    /* height: 200px; */
    height: 100%;
    padding: 0.2rem 0;
}

.bigImageCont{
    width: 50%;
}
.bigImageCont img{
    width: 100%;
    padding: 0.2rem 0.7rem;
    height: 450px;
}
#secondSectionTextContainer{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */

}

.textDiv{
    padding: 2rem;
    width: 75%;
    background-color:rgb(255,113,113);
}
.textDiv >h5{
    font-weight: 200;
    letter-spacing: 2px;
   
    
}
.textDiv >h5+h1{
    padding: 0.5rem 0;
    font-size: 3.5rem;
    letter-spacing: 3px;
}
.textDiv >h5+h1+p{
    padding: 0.2rem;
}
.textDiv >h5+h1+p+img{
    position: absolute;
    top: 58.2%;
    left: 56.5%;
    width: 2%;
}

/* media query start.......................... */

/* mobile view responsive............... */
@media only screen and (max-width: 768px){
    #mainContainer{
        width: 100%;
        background-color:#fff;
    }
   header{
    padding: 1rem;
    width: 100%;
   }
   .navbar{
    /* display: none; */
    display: none;
    text-align: left;
 }
   
  
    .menu_bar_icon{
        display: block;
        width: 8%;
    }
    .menu_bar_icon:checked+#navlist{
        display: block;
        
    }
    .SectionContainer{
        width: 100%;
        flex-direction: column-reverse;
    }
    .textContainer{
        width: 100%;
    }
    .imgContainer{
        background: linear-gradient(to right, rgb(255,237,183), rgb(255,187,231));
        width: 100%;
        padding: 1rem;
        height: 500px;
    }
    #secondSectionContainer{
            width: 100%;
            flex-direction: column;
    }
    #secondSectionImgContainer{
        width: 100%;
   
        display: flex;
        flex-wrap: wrap; 
        padding:0.5rem;
       
    }
    .imageBox{
        width: 100%;
        display: flex;
        flex-direction: row;
        /* border: 1px solid red; */
    }
    .rowImgCont{
        width: 100%;
        padding: 0.5rem;
    }
    .bigImageCont{
        width: 100%;
    }
    #secondSectionTextContainer{
        width: 100%;
        padding: 1rem;
    }
    .textDiv{
        width: 100%;
        /* padding: 0.5rem; */
    }
    .textDiv >h5+h1{
        padding: 1.2rem 0;
        font-size: 2.2rem;
    }
    .textDiv >h5+h1+p+img{
        
        top:92%;
        left: 24%;
        width: 6%;
    }


}

/* tablet responsive................... */
@media only screen and (min-width:769px) and (max-width:1024px){
    #mainContainer{
        width: 100%;
        background-color:#fff;
    }
   header{
    padding: 1rem;
    width: 100%;
    display: block;
   }
   
    .menu_bar_icon{
        display: none;
        width: 8%;
    }
   
    .SectionContainer{
        width: 100%;
        flex-direction: column-reverse;
    }
    .textContainer{
        width: 100%;
    }
    .imgContainer{
        background: linear-gradient(to right, rgb(255,237,183), rgb(255,187,231));
        width: 100%;
        padding: 1rem;
        height: 500px;
    }
    #secondSectionContainer{
            width: 100%;
            flex-direction: column;
    }
    #secondSectionImgContainer{
        width: 100%;
   
        display: flex;
        flex-wrap: wrap; 
        padding:0.5rem;
       
    }
    .imageBox{
        width: 100%;
        display: flex;
        flex-direction: row;
        /* border: 1px solid red; */
    }
    .rowImgCont{
        width: 100%;
        padding: 0.5rem;
    }
    .bigImageCont{
        width: 100%;
    }
    #secondSectionTextContainer{
        width: 100%;
        padding: 1rem;
    }
    .textDiv{
        width: 100%;
        /* padding: 0.5rem; */
    }
    .textDiv >h5+h1{
        padding: 1.2rem 0;
        font-size: 2.2rem;
    }
    .textDiv >h5+h1+p+img{
        
        top:92%;
        left: 12%;
        width: 3%;
    }

}       